  body {
      font-family: 'Open Sans', sans-serif;
  }
  
  .container {
      max-width: 100%;
      padding-left: 20px;
  }

  .top-nav li {
      list-style: none;
      display: inline;
      color: black;
      padding-right: 15px;
  }
  
  .top-nav a {
      text-decoration: none;
  }
  
  .top-nav a:hover {
      color: #a0aaba;
  }
  
  .top-nav ul {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      border-right: 1px solid #c2cad6;
  }
  
  .logo {
      float: left;
  }
  
  .logo h1 {
      margin-top: 0;
      margin-bottom: 10px;
  }
  
  .top-nav {
      padding-top: 14px;
      float: right;
  }

  .top-nav form {
  	float:right;
  }
  
  .searchbox {
      padding-left: 5px;
  }
  /* clear-fix after using float */
  
  .clearfix:after {
      content: " ";
      clear: both;
      display: block;
      visibility: none;
  }
  
  .navbar {
      clear: both;
      text-align: left;
      padding-top: 30px;
      padding-bottom: 10px;
      background-color: #c2cad6;
  }
  
  .navbar ul {
      padding-left: 5px;
      margin-top: 0;
      margin-bottom: 0;
  }
  
  .navbar li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
  }
  
  .navbar li:hover {
      background-color: white;
  }
  
  .navbar a {
      text-decoration: none;
      color: black;
  }
  
  .main-content {
      max-width: 50%;
      width: 50%;
      margin-right: 5px;
      float: left;
  }
  
  .content {
      margin-top: 10px;
      display: flex;
  }
  
  .second-content {	  
      max-width: 28%;
      border-left: 1px solid #c2cad6;
      border-right: 1px solid #c2cad6;
      width: 28%;
      float: left;
  }
  
  .side-bar {
      max-width: 21.5%;
      width: 21.5%;
      float: right;
  }
  
  .main-content h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .main-content section {
      padding-right: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid #c2cad6;
  }
  
  .content h4 {
      background-color: black;
      color: white;
      display: inline;
      padding-right: 5px;
      padding-left: 5px;
  }
  
  .date {
      color: #c2cad6;
      border-left: 1px solid #c2cad6;
      padding-left: 10px;
  }
  
  .content p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      color: #777c84;
      padding-right: 5px;
  }
  
  .continue-read ul {
      list-style: square;
      padding-left: 25px;
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
  }
  
  .continue-read a {
      text-decoration: none;
  }
  
  .continue-read a:hover {
      color: #a0aaba;
  }

  .tags {
  	padding-left: 100px;
  }
  .tags ul {
  	  padding-left: 25px;
      font-size: 12px;
      margin-top: 0;
      padding-left: 0px;
  }

  .tags li {
  	display: inline;
  	padding-left: 5px;
  }

  .tags h6 {
  	float: left; 
  	margin-top: 2px;
  }

  .links {
  	text-decoration: none;
  	color: black;
  }

  .links:hover {
  	color: #a0aaba;
  }

  .second-content section {
  	padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c2cad6;
  }

  .agenda {
  	display: flex;
  	margin-top: 5px;
  	margin-bottom: 5px;
  }
  .calendar {
  	text-align: center;
  	font-weight: bold;
  	float: left;
  	background-color: rgba(0,0,0,0.5);
  	margin-top: 5px;
  	margin-bottom: 5px;
  	padding: 4px 4px 4px 4px;
  	width: 100px;
  }

  .agenda p {
  	margin-top : 0;
  	margin-bottom: 0;
  	padding-right: 0;
  	padding-left: 5px;
  }
  .agenda h5 {
  	padding-left: 5px;
  	margin-top : 0;
  	margin-bottom: 0;
  }

  .side-nav {
  	padding-left: 5px;
  	padding-right: 5px;
  	margin-bottom: 8px;
  	padding-top: 5px;
  	border-top: 1px solid #c2cad6;
  	border-bottom: 1px solid #c2cad6;
  	margin-left: 10px;
  }
  .side-bar section {
  	padding-left: 5px;
  	padding-right: 5px;
  	margin-bottom: 8px;
  	padding-top: 5px;
  	margin-left: 10px;
  	background-color: #c2cad6;
  }

  .side-nav ul {
  	list-style: square;
  	padding-left: 15px;
  	margin-top: 0;
  }

  .side-nav li {
  	color: black;
  	font-size: 12px;
  }

  .side-bar h5 {
  	margin-top: 0;
  	margin-bottom: 0;
  }

  .side-bar p{
  	margin-top: 0;
  	margin-bottom: 0;
  	padding-bottom: 10px;

  }

  .webzine {
  	font-weight: normal;
  }

  .quick-links {
  	margin-top: 15px;
  	border-top: 5px solid #7e828c;
  	padding-top: 10px;
  }
  .quick-links section {
  	max-width: 20%;
  	width: 20%;
  	float: left;
  }

  .quick-links ul{
  	padding-left: 15px;
  	font-size: 12px;
  	margin-top: 5px;
  }
  .copyright {
  	margin-top: 20px;
  	font-size: 12px;
  	color: #7e828c;
  	float: right;
  }